<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %t %c - %m%n" />
		</layout>
	</appender>

	<!-- <appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="false" />
		<param name="MaxFileSize" value="1KB" />
		<param name="File" value="dom/my.log" />
		<param name="MaxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %t %c - %m%n" />
		</layout>
	</appender>

	<appender name="JDBCAppender" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="URL" value="jdbc:oracle:thin:@127.0.0.1:1521:mumu" />
		<param name="user" value="liulibo" />
		<param name="password" value="liulibo" />
		<param name="driver" value="oracle.jdbc.driver.OracleDriver" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="insert into log4j(createdate,thread,level_,class,message) values(\'%d\',\'%t\',\'%-5p\',\'%c\',\'%m\')" />
		</layout>
	</appender> -->

	<root>
		<priority value="info" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4j:configuration>
